@import "@/theme/index.scss";
.userBlock {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__search {
    display: flex;
    justify-content: center;
    width: 216px;
    height: 38px;
    background: #f9fbff;
    border-radius: 10px;
    border-color: #f9fbff;
  }
  &__nav {
    @include font-size(500, 14px, 21px);
    color: $grey-light;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 14px;
    letter-spacing: -0.01em;
  }
  &__user {
    @include font-size(500, 14px, 21px);
    color: $black-light;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eeeeee;
    letter-spacing: -0.01em;
  }
  &__table {
    width: 100%;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 41px;
  }
}
th {
  text-align: left;
}
.userBlockHeader {
  &__allUser {
    @include font-size(600, 22px, 33px);
    padding-bottom: 7px;
    letter-spacing: -0.01em;
  }
  &__active {
    @include font-size(400, 14px, 21px);
    padding-bottom: 7px;
    letter-spacing: -0.01em;
    color: $green-light;
    padding-bottom: 40px;
  }
}
.input {
  position: relative;
  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  &__field {
    padding-left: 43px;
    color: #b5b7c0;
  }
}
input:focus {
  width: 100%;
}
.button {
  &__active {
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00b087;
    border-radius: 4px;
    width: 80px;
    height: 29px;
    color: $green-strong;
  }
  &__inActive {
    background: #ffc5c5;
    border: 1px solid #df0404;
    border-radius: 4px;
    color: $red;
    width: 84px;
    height: 29px;
  }
}
.userFooter {
  &__text {
    @include font-size(500, 14px, 21px);
    letter-spacing: -0.01em;
    color: $grey-light;
  }
}
button {
  width: 26px;
  height: 24px;
  background: #f5f5f5;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  margin-left: 12px;
  @include font-size(500, 12px, 100%);
  color: $grey-text-button;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

button.active {
  border: 1px solid $violet-strong;
  border-radius: 4px;
  background: $violet-strong;
  color: white;
}
