@import "@/theme/mixin.scss";

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icon {
    width: 33px;
    height: 30px;
    padding-left: 11.5px;
  }
  &__text {
    @include font-size(600, 26px, 29px);
    padding-left: 4px;
  }
  &__version {
    @include font-size(500, 10px, 15px);
  }
}
