@import "@/theme/index.scss";
.userShortInfo {
  @include screen-tb {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    padding-right: 12px;
    @include screen-tb {
      width: 42px;
      height: 42px;
    }
  }
}
.info {
  &__name {
    @include font-size(500, 14px, 21px);
    color: black;
  }
  &__prof {
    @include font-size(500, 10px, 14px);
    color: $grey;
    @include screen-tb {
      @include font-size(500, 12px, 18px);
    }
  }
}
