@import "@/theme/index.scss";
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: white;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  @include screen-tb {
    padding: 36px 28px 0px 36px;
  }
  &__logo {
    width: 50%;
    padding-bottom: 35px;
    @include screen-tb {
      padding-bottom: 65px;
    }
  }
  &__user {
    padding-bottom: 76px;
  }
}
.navBar {
  &__list {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    padding: 13px;
    border-radius: 8px;
    @include font-size(500, 16px, 21px);
    color: $violet-light;
    letter-spacing: -0.01em;
    @include screen-tb {
      width: 90%;
    }
  }
}
.navText {
  display: none;
  width: 0%;
  @include screen-tb {
    display: flex;
    width: 100%;
  }
}
.list {
  display: flex;
  @include screen-tb {
    justify-content: space-between;
  }

  &__text {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 20px;
    height: 20px;
    padding-right: 13px;
  }
  &__arrow {
    width: 4px;
    height: 8px;
  }
}

.active {
  color: white;
  background-color: $violet-strong;
}
